@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
   margin:0 ;
   padding:0;
}


nav{
   background-image: linear-gradient(#51A7D8,#739fb9);
   height: 80px;
   width: 100%;
}


nav ul li{
    display: inline-block;
    margin: 0;
}


nav ul li:hover {
    background-color: rgb(122, 120, 120);
}


li {
    float: right;
  }


li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

 }

label.logo {
    color: white;
}


body {
   background-color: white;
   margin: auto;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(#51A7D8,#739fb9);
    color: white;
    text-align: center;
}

* {
    box-sizing: border-box;
}



.left-column {
    float: left;
    width: 75%;
}


.right-column {
    float: left;
    width: 25%;
    padding-left: 15px;
}

p {
  text-align: left;
}


.card {
    background-color: white;
    padding: 60px;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

img  {


    margin-bottom: 10px;

}


.row:after {
    content: "";
    display: table;
    clear: both;
}




